<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{</te>xt-align:center}
    </style>
</head>
<body>
<form method="post" action="/complete" style="display:block;margin:0 auto">
{% for key,value in tables.iterrows() %}
    <li style="display:block;margin:15px auto">
    <label>
        <input name="{{ key }}"  type="checkbox">
        {{ key }} {{ value['title'] }} <a href="{{ value['url'] }}" >新闻内容</a>
        </input>
    </label>
    </li>
{% endfor %}
    <button type="submit" style="display:block;margin:0 auto"> 提交 </button>
    </form>
</body>
</html>